@font-face {
  font-family: "ptsans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ptsans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  width: 1200px;
  padding: 0;
  margin: 0 auto 60px;
  font-family: "ptsans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: #333333;
  text-transform: uppercase;
  -webkit-box-shadow:
    7px 0 15px 0 rgba(0, 1, 1, 0.15),
    -7px 0 15px 0 rgba(0, 1, 1, 0.15),
    40px 0 0 0 #f2f2f2,
    -40px 0 0 0 #f2f2f2;
          box-shadow:
    7px 0 15px 0 rgba(0, 1, 1, 0.15),
    -7px 0 15px 0 rgba(0, 1, 1, 0.15),
    40px 0 0 0 #f2f2f2,
    -40px 0 0 0 #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.main-header {
  margin-top: -3px;
}

.site-navigation {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1056px;
  min-height: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
}

.site-navigation::before {
  content: "";
  display: inline-block;
  background-image: url("../img/logo.svg");
  position: absolute;
  width: 140px;
  height: 71px;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.site-navigation a:hover,
.site-navigation li:focus a {
  color: #81b3d2 ;
}

.site-navigation li:active a {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 240px;
  text-align: left;
}

.site-navigation a {
  font-weight: 800;
  color: #000000;
}

.site-navigation li:nth-of-type(3) {
  text-align: right;
  margin-left: auto;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(4) a{
  padding-right: 0;
  padding-left: 16px;
}

.main-header::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 508px;
  background-color: #ffffff;
  background-image:
    url("../img/polygon.svg"),
    url("../img/welcome.svg"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size:
    100% 59px,
    459px,
    auto auto;
  background-position:
    center 450px,
    center 75px,
    0 -83px;
}

.reasons-to-visit {
  margin-top: 60px;
  line-height: 1.24;
}

.reasons-to-visit p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.reasons-to-visit .reasons-to-visit-title {
  width: 489px;
  margin: 0 auto;
}

.reasons-to-visit-title:first-of-type {
  font-weight: 800;
  font-size: 21px;
  width: 445px;
  margin-bottom: 34px;
}

.reasons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason-container {
  min-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason-description {
  width: 400px;
  min-height: 256px;
  padding-top: 46px;
  padding-bottom: 51px;
  background-color: #81b3d2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.reason-description p:first-of-type {
  font-size: 21px;
  padding: 0 120px;
  line-height: 1.1;
}

.reason-description p:nth-of-type(2) {
  margin: 23px 0;
}

.reason-description p:nth-of-type(3) {
  padding: 0 48px;
  line-height: 1.5;
}

.reasons-image {
  background-color: #333333;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list li {
  width: 400px;
  min-height: 256px;
  text-align: center;
  position: relative;
  padding-top: 161px;
  padding-bottom: 83px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages-list li::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 59px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantages-list li:first-of-type::before {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 75px;
  height: 72px;
}

.advantages-list li:nth-of-type(2)::before {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 74px;
  height: 70px;
}

.advantages-list li:nth-of-type(3)::before {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 64px;
  height: 76px;
}

.advantages-list  span {
  color: #000000;
  font-size: 21px;
  font-weight: 800;
}

.advantages-list p {
  margin-top: 19px;
  padding: 0 57px;
  line-height: 1.5;
}


.reason-two-description .reason-writeup {
  padding: 0 30px;
}

.reason-number:nth-of-type(n+3) {
  width: 400px;
}

.reason-number:nth-of-type(n+3) .reason-description {
  background-color: #eeeeee;
  color: #333333;
}

.reason-number:nth-of-type(n+3) .reason-description-title {
  color: #000000;
  font-weight: 800;
  font-size: 21px;
}

.reason-number:nth-of-type(n+3) .reason-writeup {
  padding: 0 61px;
  margin-top: -2px;
}

.hotel-orderring-container {
  background-color: #ffffff;
  padding-top: 1px;
}

.hotel-orderring-title {
  display: block;
  width: 800px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin: 39px auto 15px;
}

.hotel-orderring-guide {
  display: block;
  width: 800px;
  text-align: center;
  margin: 0 auto 44px;
}

.orderring-form-link {
  display: block;
  width: 568px;
  min-height: 86px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  font-weight: 800;
  background-color: #766357;
  padding-top: 23px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.orderring-form-link:hover {
  background-color: #604e43;
}

.orderring-form-link:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form-container {
  width: 568px;
  margin: 0 auto;
  position: relative;
}

.orderring-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 53px;
  position: absolute;
  top: 86px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  z-index: -1;
  -webkit-transform: scale(0) translateY(-110%);
      -ms-transform: scale(0) translateY(-110%);
          transform: scale(0) translateY(-110%);
  -webkit-transition-property: z-index, -webkit-transform;
  transition-property: z-index, -webkit-transform;
  -o-transition-property: z-index, transform;
  transition-property: z-index, transform;
  transition-property: z-index, transform, -webkit-transform;
  -webkit-transition-duration:
    0s,
    0.4s,
    0s;
       -o-transition-duration:
    0s,
    0.4s,
    0s;
          transition-duration:
    0s,
    0.4s,
    0s;
  -webkit-transition-timing-function:
    linear,
    linear
    cubic-bezier(0.04, 0.97, 0.32, 1.28);
       -o-transition-timing-function:
    linear,
    linear
    cubic-bezier(0.04, 0.97, 0.32, 1.28);
          transition-timing-function:
    linear,
    linear
    cubic-bezier(0.04, 0.97, 0.32, 1.28);
}

.form-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 458px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 54px;
}

.form-wrapper-inner p {
  margin: 0;
  width: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 800;
}

.form-wrapper-inner p:not(:first-child) {
  margin-top: 30px;
}

.form-field {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 38px;
}

.form-field input {
  font-family: inherit;
  font-weight: 800;
  min-height: 38px;
  font-size: 14px;
  border: none;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-field:hover input {
  background-color: #ebebeb;
}

.form-field input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.form-field label {
  color: #000000;
  padding-top: 7px;
}

.form-field input::-webkit-input-placeholder {
  font-family: inherit;
  color: #000000;
}

.form-field input:-ms-input-placeholder {
  font-family: inherit;
  color: #000000;
}

.form-field input::-ms-input-placeholder {
  font-family: inherit;
  color: #000000;
}

.form-field input::placeholder {
  font-family: inherit;
  color: #000000;
}

.long-form-field input {
  width: 346px;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.long-form-field svg {
  position: absolute;
  top: 50%;
  right: 9px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #a9a9a9;
}

.long-form-field svg:hover {
  fill: #000000;
}

.long-form-field svg:active {
  fill: #81b3d2;
}

.short-form-field input {
  width: 38px;
  text-align: center;
}

.form-wrapper-inner .short-form-field {
  padding-right: 39px;
  width: 188px;
}

.short-form-field label {
  padding-right: 64px;
}

.kids-field label {
  padding-left: 48px;
}

.short-form-field .minus-sign,
 .short-form-field .plus-sign{
  content: "-";
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  position: absolute;
  top: 0;
  right: 76px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 21px;
  font-weight: 800;
}

.short-form-field .plus-sign {
  content: "+";
  bottom: 0;
  right: 1px;
}

.short-form-field .plus-sign:hover {
  color: #000000;
}

.short-form-field .minus-sign:hover {
  color: #000000;
}

.short-form-field .plus-sign:active {
  color: #81b3d2;
}

.short-form-field .minus-sign:active {
  color: #81b3d2;
}

.orderring-form-button {
    font-family: "ptsans", Arial, sans-serif;
    display: block;
    width: 458px;
    min-height: 58px;
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    font-weight: 800;
    background-color: #81b3d2;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    text-transform: uppercase;
}

.orderring-form-button:hover {
  background-color: #669ec0;
}

.orderring-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-show {
  z-index: 5;
  -webkit-transform: scale(1) translateY(0) ;
      -ms-transform: scale(1) translateY(0) ;
          transform: scale(1) translateY(0) ;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.map {
  height: 473px;
  overflow: hidden;
}

.map img {
  background-color: #a9a9a9;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 998px;
  min-height: 120px;
  margin: 0 auto;
}

.footer-visit-visitsedona {
  width: 250px;
  text-align: left;
  font-size: 21px;
  font-weight: 800;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list li{
  padding-right: 6px;
}

.social-item a {
  display: inline-block;
  vertical-align: top;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-item a:hover {
  background-color: #669ec0;
}

.social-item a:active {
  background-color: #5496bd;
}

.social-item a:active:before {
  opacity: 0.3;
}

.social-item a::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
}

.social-item a::before {
  background-image: url(../img/t.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-list .facebook-link::before {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-list .youtube-link::before {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.htmlacademy-block {
  margin: 0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.htmlacademy-block span {
  margin-right: 8px;
  padding-top: 7px;
}

.htmlacademy-block svg {
  width: 115px;
  height: 41px;
  fill: #000000;
}

.htmlacademy-block svg:hover {
  fill: #81b3d2;
}

.htmlacademy-block svg:active {
  fill: #bdbbbc;
}
